

body {
    /* background: gray;*/
    
    font-family: sans-serif;
}
/* Let's get this party started */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px; */
    /* border-radius: 10px; */ 
	
	background: rgba(51, 153, 255, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(51, 153, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(43, 129, 182, 0.2);
}

h1 {
    text-align: left;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    width: 150%;

}
.tabs {
    /*overflow: hidden;*/
    width: 1000px;
    /* margin: 0; */
    
    padding: 0;
    /* list-style: none; */

}
.tabs li {
    float: left;
    margin: 0 .3em 0 0;
  
}
.tabs a {
    /* content: ''; */
    /* position: absolute; */
    /* z-index: 5; */
    top: 5;
    /* right: -.5em; */
    bottom: 5;
    width: .9=em;
    /* background: #ddd; */
    /* background-image: linear-gradient(to top, #fff, #ddd); */
    /* box-shadow: 5px 5px 5px rgba(0,0,0,.4); */
    transform: skew(deg);
    /* border-radius: 5px 5px 5px 5px; */
    /* position: relative; */
    /* background: #905664; */
    /* background-image: linear-gradient(to top, #f5f5f5, #fff); */
    padding: .3em .4em;
    float: right;
    
    text-decoration: none;
    color: #444;
    text-shadow: 0 0px 0 rgba(195, 145, 145, 0.8);
    border-radius: px 10px 10px 10px;
    box-shadow: 0 0px 3px rgba(0,0,0,.5);
    /* position: relative; */
   
    padding: .2em .7em;
    float: left;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);

}

ul.tabs li.active a,
ul.tabs li.active a::after {
    color: white;
    padding-bottom: 1px; 
    text-decoration: none;
    border-bottom: 2px solid #64E986;
    background: #b56dc3;
}
/* border-bottom: 2px solid #64E986;
    background: #659EC7;*/
	
	
.tabs a::after {
   
/* position: absolute; */
   
/* z-index: 1; */
   
/* top: 0; */
   
/* right: -.5em; */
   
/* bottom: 0; */
   
/* width: 1em; */
   
/* background: #ddd; */
   
/* background-image: linear-gradient(to top, #fff, #ddd); */
   
/* box-shadow: 4px 2px 2px rgba(0, 0, 0, .4); */
   
transform: skew(deg);
   
border-radius: 0 5px 0 0;
}
.clr {
    clear: both;
}
ul.tabs {}
}






img {
    cursor: pointer
}

.closetab
{

margin-left:5px;

display: inline-block;
min-width: 10px;

font-size: 10px;

line-height: 1;
color: black;
text-align: center;
white-space: nowrap;
vertical-align: top;


}

.closetab:hover
{

margin-left:5px;

display: inline-block;
min-width: 10px;

font-size: 10px;
font-weight: 700;
line-height: 1.2;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: top;
background-color: orange;
border-radius: 2px;
}


nav li {
    display: inline;
    border: solid;
    border-width: 0px 0px 0 0px;
    margin: 0 5px 0 0;
}
nav li a {
    padding: 0 10px;
}
#content {
    border: 1px solid;
}

/* #0073e6; #99ccff;*/