body {
 /* background: gray; */
  font-family: sans-serif;
}

/* Let's get this party started */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;     
     background: rgba(0, 95, 194, 0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(43, 129, 182, 0.2); 
}

.wrapper {
  background: white;
  margin: 0;
  padding: 1em;
  width: 50%;
}

h1 {
  text-align: left;
}

ul.tabs 
{  list-style-type: none;  margin: 0;  padding: 0; width: 150%;}
.tabs {
  overflow: hidden;
  width: 1000px;
  /* margin: 0; */
  padding: 0;
  /* list-style: none; */
}

.tabs li {
  float: left;
  margin: 0 .5em 0 0;
}

.tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to top, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

ul.tabs li.active a,ul.tabs li.active a::after {  color: white;background: #AD66D5;}
.tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to top, #fff, #ddd);  
  box-shadow: 4px 2px 2px rgba(0,0,0,.4);
  transform: skew(20deg);
  border-radius: 0 5px 0 0;  
}


.clr {  clear: both;}
ul.tabs{

  border-bottom: gray solid 1px;
  width:549px;
  
}
}
