
body
{
background-color:WHITE;
margin-top:5px;
}
#main
{ 
font-size:15px;
background-color:WHITE;
width:90%;
heigth:100%;
margin: 0px auto;

padding-left:20px;
padding-right:20px;

}
.Lpane
{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
padding-left:5px;
padding-top:5px;
padding-right:5px;
padding-bottom:5px;
background-image: url(ThemeproLO/Common/Images/bgdesign.jpg);

heigth:100%;
width:35%;
float:left;
}
/* div background #b3d4f1*/
.Rpane
{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #daecf5;
heigth:100%;
width:100%;

padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
}
#TableCmnts tr th
{

text-align: center;

height:30px;
font-family:calibri;
}

.breakWord{
    
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 

}
.click:active {transform: translateY(4px);} 

.bottom{
	
	margin: 0 auto;
	width:50%;
	bottom:30px;
	align:center;
}

#TableCmnts .trclass
{
	 background-color: #edfdff;
    color: #000;
    margin-top: 2px;
    /* color: #fff; */
    /* padding-bottom: 1em; */
    /* border-collapse: separate; */
    border-spacing: 0px 0px;
    /* flex: 0 0 auto; */
    /* width: calc(100% - 0em); */

}